In [30]:
# Python Basics Assignment 1 - Complete Script

# ----------------------------------------
# SECTION 1: Numerical Data Types & Arithmetic Operators
# ----------------------------------------

In [ ]:
# Your car's fuel efficiency is 11.5 km/L
# Total trip distance = 475 km
# Fuel price = $1.65/L
# Tank capacity = 50 L
# Start with a full tank

In [ ]:
# a. How many liters of fuel needed for the entire trip?
fuel_needed = 475 / 11.5
print("1a. Fuel needed:", fuel_needed)

1a. Fuel needed: 41.30434782608695

In [ ]:
# Explanation:
# Dividing distance by fuel efficiency gives total fuel needed.

In [ ]:
# b. How many full tanks of fuel does this represent?
full_tanks = 475 // (11.5 * 50)
print("1b. Full tanks needed (whole):", full_tanks)

1b. Full tanks needed (whole): 0.0

In [ ]:
# Explanation:
# Each full tank covers 575 km, more than the trip distance.
# Hence, no full refueling needed during trip.

In [ ]:
# c. Total estimated fuel cost for the trip
fuel_cost = fuel_needed * 1.65
print("1c. Total fuel cost: $", fuel_cost)

1c. Total fuel cost: $ 68.15217391304347

In [ ]:
# Explanation:
# Multiply fuel needed by price per liter.

In [ ]:
# d. Fuel remaining in tank after the trip
remaining_fuel = 50 - fuel_needed
print("1d. Remaining fuel (liters):", remaining_fuel)

1d. Remaining fuel (liters): 8.695652173913047

In [ ]:
# Explanation:
# Starting with a full tank, subtract fuel used.

In [31]:
# SECTION 2: Comparison & Logical Operators

In [ ]:
# Initial values
age = 30
is_weekday = True
is_family_day = False
group_size = 3

In [ ]:
# a. Comprehensive boolean expression for discount eligibility
discount = (age <= 12 and is_weekday) or (age >= 65) or (is_family_day and group_size >= 4)
print("2a. Discount eligibility (initial values):", discount)

2a. Discount eligibility (initial values): False

In [19]:
# Explanation:
# No condition is met (not a child, not a senior, not on family day).

In [20]:
# b. New scenario
age = 10
is_weekday = True
is_family_day = False
group_size = 2

In [21]:
discount = (age <= 12 and is_weekday) or (age >= 65) or (is_family_day and group_size >= 4)
print("2b. Discount eligibility (child scenario):", discount)

2b. Discount eligibility (child scenario): True

In [32]:
# SECTION 3: String Indexing & Slicing

In [23]:
secret_message = "PyThoN_Is_FuN_AnD_PoWeRfUl!"

In [24]:
# a. Character at index 5
print("3a. Character at index 5:", secret_message[5])

3a. Character at index 5: N

In [25]:
# b. Extract "Is_FuN" using positive indexing
substring_pos = secret_message[7:13]
print("3b. Substring using positive indexing:", substring_pos)

3b. Substring using positive indexing: Is_FuN

In [26]:
# c. Extract "PoWeRfUl" using negative indexing
substring_neg = secret_message[-9:-1]
print("3c. Substring using negative indexing:", substring_neg)

3c. Substring using negative indexing: PoWeRfUl

In [27]:
# d. Every 4th character starting from index 0
every_fourth = secret_message[0::4]
print("3d. Every 4th character:", every_fourth)

3d. Every 4th character: PosNDWU

In [28]:
# e. What happens if you access index 50?
try:
    print(secret_message[50])
except IndexError as e:
    print("3e. Error accessing index 50:", e)

3e. Error accessing index 50: string index out of range

In [33]:
# SECTION 4: Boolean Values & Expressions

In [34]:
x = 15
y = 25
z = 15
text = "adventure"

In [35]:
# a. (x == z) and (y > x)
print("4a. (x == z) and (y > x):", (x == z) and (y > x))

4a. (x == z) and (y > x): True

In [36]:
# b. (x != z) or (y < x) or (len(text) < 5)
print("4b. Complex OR expression:", (x != z) or (y < x) or (len(text) < 5))

4b. Complex OR expression: False

In [37]:
# c. not ((x > y) and (text == "Adventure"))
print("4c. Negated AND expression:", not ((x > y) and (text == "Adventure")))

4c. Negated AND expression: True

In [38]:
# SECTION 5: String Properties & Methods

In [39]:
# a. Trying to change a character in a string
username = "MyUser123"
try:
    username[0] = 'm'
except TypeError as e:
    print("5a. Error modifying string:", e)

5a. Error modifying string: 'str' object does not support item assignment

In [40]:
# Explanation:
# Strings in Python are immutable. You cannot assign a new value to a character.

In [41]:
# b. Quote transformations
quote = " practice makes perfect "

In [42]:
# Step 1: Strip whitespace
# Step 2: Convert to uppercase
# Step 3: Replace "PERFECT" with "PROGRESS"
formatted_quote = quote.strip().upper().replace("PERFECT", "PROGRESS")
print("5b. Formatted quote:", formatted_quote)

5b. Formatted quote: PRACTICE MAKES PROGRESS

In [43]:
# Explanation:
# strip() removes whitespace
# upper() converts all letters to uppercase
# replace() substitutes the word

In [44]:
# c. Length comparison
original_length = len(quote)
formatted_length = len(formatted_quote)

In [45]:
print("5c. Original quote length:", original_length)
print("5c. Formatted quote length:", formatted_length)
# Output: 25 and 23

5c. Original quote length: 24
5c. Formatted quote length: 23

In [46]:
# Explanation:
# Original quote has spaces (length 25), formatted one is shorter (23) due to strip and replacement.